#header {
  /* Black-grey gradient on header */
  background: #222; /* Old browsers */
  background: -moz-linear-gradient(top, #444 0%, #000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444), color-stop(100%,#000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #444 0%,#000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #444 0%,#000 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #444 0%,#000 100%); /* IE10+ */
  /* Disabling IE9 and lower gradients, because the trigger overflow:hidden on the element, making dropdowns invisble */
  /*-ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#000000',GradientType=0 )"; /* IE6-9 */
  /*filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #444 0%,#000 100%); /* W3C */
}

/* Shrink header height */
#header #header-inner {
    padding-top:6px;
}

/*replace the Canvas logo with OCADU */
#header-logo, #header.no-user #header-logo {
  background: url("/ocadu/ocadu-canvas-logo.png?1345753397") no-repeat scroll 0 0 transparent;
  background-size: 392px 50px;
  bottom: 0px;
  left:13px;
  height: 50px;
  width: 540px;
}

/* Fix no-user styles */
#header.no-user {
  background-position: 0; 
  height: 49px;
}

#header.no-user #header-logo { top: -1px;}

/* Push menu over a bit to the right */
#menu {
  margin-left:417px;
  width:540px;
  position: relative;
  top: 8px;
} 

/* Fix topbar from obscuring logo home link */
#header-inner #topbar {
  width:auto;
}

/* Hide Instructure link */
#footer a[href="http://www.instructure.com"] {
  display:none;
}

/* Login image */
body.modal #modal-box.login-box, body.modal #modal-box-arbitrary-size {
  background:url("/ocadu/ocadu-login-bg.png?1345753397");
  color:#CCC;
}
body.modal #modal-box.login-box h1 {
  background: none;
}

@media  only screen and (-webkit-min-device-pixel-ratio: 1.3),
        only screen and (-o-min-device-pixel-ratio: 13/10),
        only screen and (min-resolution: 120dpi) {
  #header-logo, #header.no-user #header-logo {
    background: url("/ocadu/ocadu-canvas-logo_2x.png") no-repeat scroll 0 0 transparent;
    background-size: 392px 50px;
    bottom: 0px;
    left:13px;
    height: 50px;
    width: 540px;
  }
}

/* Enable canvas logo on right side of header, override bg image */
/*
#header-logo-secondary {
  display: block;
  background:url("/ocadu/ocadu_header_canvas_logo.png?1315326858");
  height:40px;
}
*/

/* Style the identity box on the right side of header */
/*#identity { background-color: #FFF; }*/
/*
#identity .user_name a{ color: #DC8894 !important; }
#identity a { color: #fff; }
#identity #feedback_link{ border-color: #333; background-color: #333; }
#identity .inbox a .unread-messages-count { background-color: #333; }
*/

/* replace drop-down arrow with light version  */
/*.menu-item .menu-item-title { background-image: url("/ocadu/menu_arrow_light.png?1315326858");}*/
/*.menu-item.hover .menu-item-title {background-image: url("/images/canvas/menu_arrow.png");}*/
