@charset "UTF-8";

/* GENERAL TEXT STYLE TAGS */

body  {
	font: 16.5px Palatino, Garamond, Times, "Times New Roman", serif;
	line-height: 24px;
	background: #78736B;
	margin: 0;
	padding: 0;
	text-align: center; 
	color: #140F07;
	}
	
	
.epigraph {
	font-size:14px;
	padding-left: 150px;
}

.paraphrase {
	font-size:14px;
	padding-left: 20px;
	line-height: 20px;
	}
	
.paraparaphrase {
	font-size:14px;
	padding-left: 40px;
}


	h1 {
	font: 50px "Plantagnet Cherokee", Garamond, serif;
	color: #000;
	letter-spacing: -1pt;
	font-weight: bold;
	clip: rect(auto,auto,5px,auto);
	line-height: .7;
	}
	
	h2 {
	font: 48px "Plantagnet Cherokee", Garamond, serif;
	font-weight: bold;
	color: #000;
	line-height:36px;	
	}
	
	h3 {
	font: 24px "Plantagnet Cherokee", Garamond, serif;
	font-weight: lighter;
	letter-spacing: .04em;

	}
	
	h4 {
	font: 31px "Times New Roman", Times, serif;
	text-transform: uppercase;
	font-weight: bold;
	font-style: italic;
	color:#000000;
	letter-spacing:-.01em;
	line-height: 29px;
	font-size: 30px;
	}
	
	h5 {
	font: 27px "Plantagnet Cherokee", Garamond, serif;
	color: #000;
	height: 5em;
	line-height: 22px;
	text-align: right;
	font-weight: normal;
	}
	
	h6 {
	font: 30px "Plantagnet Cherokee", Garamond, serif;
	font-weight: bold;
	color: #000;	
	}
	
	
		
	.springsummertest {
	font: 27px "Plantagnet Cherokee", Garamond, serif;
	font-weight: bold;
	color: #660000;
	
	}
	
image {
border: none;
}

/* PULL QUOTE TAGS */

	#pullQuoteHome {
	float: right;
	width: 270px;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	text-align: right;
	
	}
	
	
	
	#pullQuoteHomehorizontalimg {
	float: right;
	width: 470px;
	margin-top: -45px;
	margin-bottom: 10px;
	margin-left: 10px;
	text-align: right;
	
	}
	

	#pullQuoteSubpage {
	font: 27px "Plantagnet Cherokee", Garamond, serif;
	color: #660000;
	float: right;
	width: 240px;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	line-height: 22px;
	text-align: right;
	vertical-align: text-middle;
	}


	#movieClip {
	float: right;
	width: 220px;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	text-align: right;
	vertical-align: text-middle;
	
	font: "Plantagnet Cherokee", Garamond, serif;
	font-style: italic;
	font-size: 14px;
	letter-spacing: .08em;
	line-height: 30px;
	}
	
	
	#movieClip a:link {
	color: #000000;
	}
	
	
	#endNotes {
	font-size: 14px;
	line-height: 17px;
	margin-top: 40px;
	}
	
	
/* EMAIL A FRIEND TAGS */
	
#emailafriend {

}

.emailafriend-text {
		font-size: 14px;
		line-height: 17px;
		font: "Myriad Pro", Arial, Verdana, Helvetica, sans-serif;
		font-weight: bold;
		}
		
		
.emailafriend-note {
		font: "Myriad Pro", Arial, Verdana, Helvetica, sans-serif;
		font-weight: normal;
		font-size: 12px;
		}



#mainContent a:link {
	color: #660000;}
	
	

.byline {
	font: "Myriad Pro", Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: .1em;
	color: #000;
	}
	
.by {
	font: "Plantagnet Cherokee", Garamond, serif;
	font-style: italic;
	font-size: 14px;
	text-transform: lowercase;
	letter-spacing: .08em;
	color: #000000;
	}
	
	.pullquoteby {
	font-size: 12px;
	text-transform: uppercase;
	font-style: normal;
	letter-spacing: -.02em;
	color: #000000;
	font-family: "Plantagnet Cherokee", Garamond, serif;
	}

.thestraddlerReview {
	font-size: 14px;
	font-style: normal;
	letter-spacing: .08em;

}


#goto {
	font: 10px "Myriad Pro", Arial, Verdana, Helvetica, sans-serif;
	font-weight: normal;
	text-align: right;
	text-transform: uppercase;
	line-height: 15px;
	word-spacing: 0.2em;
	color: #000;
	float:right;
	font-style: normal;}
	
#goto a:link {
	font: 10px "Myriad Pro", Arial, Verdana, Helvetica, sans-serif;
	color: #660000;}
	


.copyright {
	font: 10px "Myriad Pro", Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	line-height: 10em;
	letter-spacing: .3px;
	}

/* GENERAL DIV TAGS */

.thrColFixHdr #container { 
	width: 1000px;  
	background: #FFFFFF;
	margin: 0 auto; 
	text-align: left; 
	background-image: url(images/bg_03.jpg);
	background-repeat: repeat-y;
	background-color: #FFF;
	} 

	
	
.thrColFixHdr #header { 
	word-spacing: 2em;
	text-align: right;
	font-family: "Myriad Pro", Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	/* if using header home link use this  display:block;*/

	padding: 0 100px 0 0;  
	background-color: #FFFFFF;
	background-image: url(images/logoheader.jpg);
	background-repeat:no-repeat;
	height:88px;
	margin: 0;
	border-bottom: solid;
	border-bottom-width: thin;
	border-bottom-color: #CCCCCC;
	} 
	
	/* if using header home link use this  .thrColFixHdr #header a span {
	visibility: hidden;
	}*/
	
	
	
	
	/* To be used together in body of home page */


.thrColFixHdr #sidebar1 {
	float: left; 
	width: 275px; 
	
	margin-right: 20px;
	padding: 25px 10px 15px 20px; 
	
	border-right: solid;
	border-right-width: thin;
	border-right-color: #CCCCCC;
	}
	
	.thrColFixHdr #sidebar2 {
	float: right; 
	width: 310px; 
	
	margin-left: 10px;
	padding: 5px 50px 15px 40px;
	
	border-left: solid;
	border-left-width: thin;
	border-left-color: #CCCCCC;
	background-color: none;
	}
	
.thrColFixHdr #sidebar1 image {border-top: 20px #CCCCCC; border-bottom: 20px #CCCCCC;}
	


/* To be used together in body of home page IF HORIZONTAL FEATURE IMAGE is used */



.thrColFixHdr #sidebar1horizontalimg {
	float: left; 
	width: 555px; 
	
	margin-right: 10px;
	padding: 20px 10px 15px 20px; 
	
	}
	
	
.thrColFixHdr #sidebar2horizontalimg {
	float: right; 
	width: 310px; 
	
	margin-left: 0px;
	padding: 32px 50px 15px 40px;
	
	border-left: solid;
	border-left-width: thin;
	border-left-color: #CCCCCC;
	background-color: none;
	}

.thrColFixHdr #sidebar1horizontalimg image {border-top: 20px #CCCCCC; border-bottom: 20px #CCCCCC;}



/* Footer of home page */


.thrColFixHdr #footer { 
	padding: 0 30px 0 20px; 
	margin: 0;
	background-color: #FFFFFF;
	background-image: url(images/bg_06.jpg);
	height: 117px;
	background-repeat: no-repeat;
	text-align: center;
	} 
	
	
	
	
/* FOR HOMEPAGE ONLY */

.thrColFixHdr #FeatureList {
	margin: 0 200px 0 310px;
	padding: 0px 10px;
	} 



/* FOR ALL OTHER PAGES IN PLACE OF FEATURE LIST */

.thrColFixHdr #mainContent {
	margin: 0 300px 0 0px;
	padding: 20px 10px 0 120px;
	font-family: Palatino, Garamond, Times, "Times New Roman", serif;
	} 
	
.thrColFixHdr #poetry1 {margin: 0; padding: 0 0 20px 0;}

.thrColFixHdr #poetry2 {margin: 0; padding: 0 0 0px 0;}

.thrColFixHdr #poetry3 {margin: 0; padding: 0 0 20px 0;}






/* FOR ART PAGES INSTEAD OF MAINCONTENTDIV */

.thrColFixHdr #artContent { 
	margin: 0 300px 0 0px; 
	padding: 20px 10px 0 120px;
	 
	} 

.thrColFixHdr #artcontainer {
	padding: 15px 0 15px 0;
	font: Palatino, Garamond, Times, "Times New Roman", serif;
	line-height: 2em;
	font-size:14px;
	text-align: left;
	font-style: italic;
	float:left;
	margin: 0;
}

.thrColFixHdr #thumbcontainer {
	float:left;
	margin: 0;
}

img {border-style: none;}

#backtoTopArt {
	font: 10px "Myriad Pro", Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;
	word-spacing: .2em;
	color: #000;
	float: left;
	line-height: 15px;
	font-style: normal;
	}

.thrColFixHdr #thumb1 {float:left; margin: 0; padding: 5px;} 
.thrColFixHdr #thumb2 {float:left; margin: 0; padding: 5px;} 
.thrColFixHdr #thumb3 {float:left; margin: 0; padding: 5px;} 
.thrColFixHdr #thumb4 {float:left; margin: 0; padding: 5px;} 
.thrColFixHdr #thumb5 {float:left; margin: 0; padding: 5px;} 
.thrColFixHdr #thumb6 {float:left; margin: 0; padding: 5px;} 


.thrColFixHdr #art1 {	padding: 25px 0 25px 0;
}
.thrColFixHdr #art2 {	padding: 25px 0 25px 0;
}
.thrColFixHdr #art3 {	padding: 25px 0 25px 0;
}
.thrColFixHdr #art4 {	padding: 25px 0 25px 0;
}
.thrColFixHdr #art5 {	padding: 25px 0 25px 0;
}
.thrColFixHdr #art6 {	padding: 25px 0 25px 0;
}
.thrColFixHdr #art7 {	padding: 25px 0 25px 0;
}
.thrColFixHdr #art8 {	padding: 25px 0 25px 0;
}
.thrColFixHdr #art9 {	padding: 25px 0 25px 0;
}


/* FEATURE LIST STYLING */

	#FeatureList li
	{
	padding: 0;
	list-style-image: url(images/bullet-2.jpg);
	font: 13px "Myriad Pro", "Arial", "Verdana";
	font-weight: bold;
	margin-top: .9em;
	margin-bottom: .5em;
	line-height: 16px;
	}
	
	#FeatureList li a
	{
	display:inline;
	padding: 0px;
	}
	
	#FeatureList a:link
	{
	color:#660000;
	text-decoration: none;
	}
	
	#FeatureList a:visited
	{
	color:#660000;
	text-decoration: none;
	}
	
	
	#FeatureList a:hover
	{
		color: #660000;
		text-decoration: underline;
	}
	
	/* HORIZ. HOME PAGE FEATURE LIST STYLING */

	#sidebar2horizontalimg li
	{
	padding: 0;
	list-style-image: url(images/bullet-2.jpg);
	font: 13px "Myriad Pro", "Arial", "Verdana";
	font-weight: bold;
	margin-top: .9em;
	margin-bottom: .5em;
	line-height: 16px;
	color: #660000#660000;
	}
	
	#sidebar2horizontalimg li a
	{
	display:inline;
	padding: 3px;
	}
	
	#sidebar2horizontalimg a:link
	{
	color:#660000;
	text-decoration: none;
	}
	
	#sidebar2horizontalimg a:visited
	{
	color:#660000;
	text-decoration: none;
	}
	
	
	#sidebar2horizontalimg a:hover
	{
		color: #660000;
		text-decoration: underline;
	}

/* SUBPAGE LIST STYLING */

#mainContent li {
	list-style-image: url(images/bullet-2.jpg);
	margin-top: .9em;
	margin-bottom: .5em;

}



/* MISC TAGS */

	.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
		float: right;
		margin-left: 8px;
	}
	.fltlft { /* this class can be used to float an element left in your page */
		float: left;
		margin-right: 8px;
	}
	.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
		clear:both;
		height:0;
		font-size: 1px;
		line-height: 0px;
	}



/* LINK TAGS */

	a:link {
	color: #660000;
	text-decoration: none;
	}
	
	a:hover {	
		color: #660000;
		text-decoration: none;}
	
	a:active {
		color: #660000;
		text-decoration: none;}
	
	a:visited {
	color: #660000;
	text-decoration: none;}
	


/* FORM TAGS */


label{
float: left;
width: 120px;
font-weight: bold;
}

input, textarea{
width: 180px;
margin-bottom: 5px;
}

textarea{
width: 250px;
height: 150px;
}

.boxes{
width: 1em;
}

#submitbutton{
margin-left: 120px;
margin-top: 5px;
width: 90px;
}

.submitclass {
	background-color:#FFFFFF;
	border-color: #CCCCCC;
	width: 70px;
	height: 20px;
	border-width: 3px;
	border-style: solid;
	font: 12px "Myriad Pro", Arial, Verdana, Helvetica, sans-serif;
	color: #330000;
	text-transform: uppercase;
	font-weight: bold;
}


/*.threepxfix class below:
Targets IE6- ONLY. Adds 3 pixel indent for multi-line form contents.
to account for 3 pixel bug: http://www.positioniseverything.net/explorer/threepxtest.html
*/

* html .threepxfix{
margin-left: 3px;
}


/* FOOOTNOTES */

#footnote1 {
	margin: 0;
}
#footnote2 {margin: 0;}
#footnote3 {
	margin: 0;
	font-family: Palatino, Garamond, Times, "Times New Roman", serif;
}
#footnote4 {
	margin: 0;
	font-size: 14px;
}
#footnote5 {
	margin: 0;
	font-size: 14px;
}
#footnote6 {margin: 0;}
#footnote7 {margin: 0;}
#footnote8 {margin: 0;}
#footnote9 {margin: 0;}
#footnote10 {margin: 0;}
#footnote11 {margin: 0;}
#footnote12 {margin: 0;}
#footnote13 {margin: 0;}
#footnote14 {margin: 0;}
#footnote15 {margin: 0;}
#footnote16 {margin: 0;}
#footnote17 {margin: 0;}
#footnote18 {margin: 0;}
#footnote19 {margin: 0;}
#footnote20 {margin: 0;}
#footnote21 {margin: 0;}
#footnote22 {margin: 0;}
#footnote23 {margin: 0;}
#footnote24 {margin: 0;}
#footnote25 {margin: 0;}
#footnote28 {margin: 0;}
#footnote29 {margin: 0;}
#footnote30 {margin: 0;}
#footnote31 {margin: 0;}
#footnote32 {margin: 0;}
#footnote33 {margin: 0;}
#footnote34 {margin: 0;}
#footnote35 {margin: 0;}
#footnote36 {margin: 0;}
#footnote37 {margin: 0;}
#footnote38 {margin: 0;}
#footnote39 {margin: 0;}
#footnote40 {margin: 0;}
#footnote41 {margin: 0;}
#footnote42 {margin: 0;}
#footnote43 {margin: 0;}
#footnote44 {margin: 0;}
#footnote45 {margin: 0;}
#footnote46 {margin: 0;}
#footnote47 {margin: 0;}
#footnote48 {margin: 0;}
#footnote49 {margin: 0;}
#footnote50 {margin: 0;}
#footnote51 {margin: 0;}
#footnote52 {margin: 0;}
#footnote53 {margin: 0;}
#footnote54 {margin: 0;}
#footnote55 {margin: 0;}
#footnote56 {margin: 0;}
#footnote57 {margin: 0;}
#footnote58 {margin: 0;}
#footnote59 {margin: 0;}
#footnote60 {margin: 0;}
#footnote61 {margin: 0;}
#footnote62 {margin: 0;}
#footnote63 {margin: 0;}
#footnote64 {margin: 0;}
#footnote65 {margin: 0;}
#footnote66 {margin: 0;}
#footnote67 {margin: 0;}
#footnote68 {margin: 0;}
#footnote69 {margin: 0;}
#footnote70 {margin: 0;}
#footnote71 {margin: 0;}
#footnote72 {margin: 0;}
#footnote73 {margin: 0;}
#footnote74 {margin: 0;}
#footnote75 {margin: 0;}
#footnote76 {margin: 0;}
#footnote77 {margin: 0;}
#footnote78 {margin: 0;}
#footnote79 {margin: 0;}
#footnote80 {margin: 0;}
.thrColFixHdr #container #sidebar2horizontalimg .springsummertest .style1 {
	color: #000;
}
.thrColFixHdr #container #mainContent p {
	text-align: left;
}
.thrColFixHdr #container #mainContent p {
	text-align: center;
}
.thrColFixHdr #container #mainContent p {
	text-align: left;
}
.newissuetitle {
	color: #660000;
}
